		<div id="header">
			<header id="blog_title"> 
				<h1><a href="{{site.url}}">{{site.title}}</a></h1>
			</header>
			<nav id="menu">
				<ul class="header-nav">
					<li><a href="{{site.url}}/resume" target="_self">Resume</a></li>
					<li><a href="https://github.com/9drops" target="_self">Github</a></li>
					<li><a href="{{site.url}}/about" target="_self">About</a></li>
					<li><a href="{{site.url}}" class="menu-rss" target="_self"></a></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
